body{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    margin-top: 360px;
}

#Username_Label {

    height:100%;
    color:white;
    line-height:80px;
    float:left;
    margin-left:2em;
}