.Panel 
{
    height:5em;
    border-bottom:solid;
    border-bottom-width:0.1px;
    border-bottom-color:rgba(0,0,0,0.2);
    margin:1em;
    clear: both;
}
.Start_Label, .End_Label, .Time_Label, .UserName_Label 
{
    font-size:large;
    float:left;
    margin:1em;
    width:15%;
    max-width:200px;
}
.Time_Label 
{
    float:right;
}

.profileButton 
{
    background:none !important;
    text-align:left;
    font-size: inherit;
}

.profileButton:hover 
{
text-decoration:underline;}
.button 
{
    float:right;
    height:3em;
    width:5em;
    font-size:large;
    background-color:var(--main-color);
    margin: 0 0 0 1em;
}

.Big_Label 
{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
    font-size:larger;
}