@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
* 
{
    padding:0;
    margin:0;
    font-family: 'Lexend Deca', sans-serif;
}

.container
{
    display:flex;

    height: calc(100vh - 80px);
}

#List 
{
    float: left;
    width: 30%;
    overflow-y: auto;
    height: calc(100vh - 80px);

    border-right:solid;
    border-right-width:0.1px;
    border-right-color:rgba(0,0,0,0.2);
}
#History {
    width: 70%;
    height: calc(100vh - 80px - 80px);
    overflow-y:scroll;
}

.chatoption 
{
    padding-left:3em;
    text-align:left;
    background-color:white;
    border:none;
    display:block;
    width:100%;
    height:5em;
}

.active_chat 
{
    background-color: var(--main-color);
}

.chatoption:hover
{
    background-color:white;
    border:none;
    display:block;
    width:100%;
    height:5em;
}

.chatoption_con 
{
    border-bottom:solid;
    border-bottom-width:0.1px;
    border-bottom-color:rgba(0,0,0,0.2);
    width:100%;
}

#Input 
{
    position:absolute;
    width:calc(70% - 1px);
    height:80px;
    bottom:3px;
    margin-left:calc(30% + 1px);
    border-top:solid;
    border-top-width:0.1px;
    border-top-color:rgba(0,0,0,0.2);
}

#Message_IF 
{
    float:left;
    overflow:auto;
    height:calc(100% - 20px);
    width:calc(100% - 80px - 20px);
    resize:none;
    border:none;
    padding:10px;
}

#Send
{
    background-color:white;
    border:none;
    float:right;
    height:100%;
    width:80px;
    position:absolute;
}

#Send:hover 
{
    background-color:gray;
}


.msg_panel 
{
    border-radius:10px 10px 10px 0px;
    padding:10px;
    min-height:1.5em;
    overflow-y:auto;
    background-color:#a2d0ee;
    display:block;
    margin:1em  3em 1em 3em;
    clear:both;
    max-width:70%;
    min-width:200px;
    width: max-content;
}

.msg_panel.me
{
    float:right;
    background-color:#308bc8;
    border-radius:10px 10px 0px 10px !important;

}

.me .TimeLabel
{
    float:right;
    right:0;
}

.somebody .TimeLabel
{
    left:30%;
}

.me .UserLabel 
{
    display:none;
}

.UserLabel 
{
    float:left;
    width:calc(100% - 65px);
    display:block;
    text-decoration:underline;
}

.TimeLabel 
{
    float:left;
    height:1em;
    font-size:small;
    float:left;
    width:50px;
}

.MessageLabel 
{
    margin-left: 50px;
    display: block;
}

.msg_panel.me .MessageLabel 
{
    margin-right: 60px !important;
    margin-left: 0px !important;
}

.Date 
{
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.DateLabel 
{
    padding: 10px;
    background-color:#898989;
    text-align: center;
    margin: 10px;
    border-radius: 10px;

}